<h1>Friends</h1>

<% @friends.each do |friend| %>
  <% if friend.user_id == current_user.id  %>
    <div class="p-5 mb-4 bg-secondary-subtle rounded-3 w-75">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">
          <div>
            <%= link_to friend.first_name + '' + friend.last_name, friend, class:"nav-link" %>
          </div>
        </h1>
        <div class="col-md-8 fs-4">
          <p>
            Phone Number: <%= friend.phone_no %>
          </p>
          <p>
            Twitter Handle: <%= friend.twitter %>
          </p>
          <p>
            Email: <%= friend.email %>
          </p>

          <%= button_to "Destroy this friend", friend, method: :delete,  data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:"btn btn-lg btn-outline-danger "  %>
        </div>

      </div>
    </div>

  <% end %>

  <br>
<% end %>
<div>
  <br>
  <br>
  <%= link_to 'New Friend', new_friend_path, class: 'btn btn-sm btn-secondary' %>
</div>
