<div class="row text-start w-100 justify-content-start h-100 ">

  <div class="col-lg-3  col-md-3 m-md-3 m-sm-3 bg-secondary-subtle float-start mw-100" >
    <br>
    <p class="text-uppercase fw-medium fs-6">Join the Team</p>
    <p class="display-6 fw-medium mw-100">Want to shape the future of branding?</p>
    <p class="text-muted fw-light fs-6">Join us and shape the future of branding today!</p>
    <br>
    <br>
    <%= button_tag 'Apply Now', type:'button', class:'btn btn-dark'%>
    <br>
    <br>
  </div>
  <% @experts.each do |expert| %>
    <div class="col-lg-3 m-md-3 m-sm-3 bg-secondary-subtle float-end mh-100 mw-100 mt-5 d-flex flex-column align-items-center justify-content-center">
      <%= image_tag(expert.image, class:"mw-100", style:"height:20em") %>
      <div class="d-flex flex-column align-items-center justify-content-center mt-3">
        <div class="d-flex justify-content-start align-items-start w-100">
          <p class="text-center me-3 float-start"><%= expert.name %></p>
          <%= button_tag expert.department, class:"btn btn-outline-dark float-end" %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="col-lg-3 m-md-3 m-sm-3 bg-secondary-subtle float-end mh-100 mw-100 d-flex align-items-center justify-content-center mt-5">
    <%= link_to new_expert_path do %>
      <div class="d-flex align-items-center justify-content-center">
        <%= image_tag "new.png", class: "w-25" %>
      </div>
    <% end %>
  </div>

</div>
