<div class="row text-start w-100 justify-content-start h-100 ">

  <div class="col-lg-3  col-md-3 m-md-3 m-sm-3 bg-secondary-subtle float-start mw-100  ">
    <br>
    <p class="text-uppercase fw-medium fs-6">Join the Team</p>
    <p class="display-6 fw-medium mw-100">Want to shape the future of branding?</p>
    <p class="text-muted fw-light fs-6">Join us and shape the future of branding today!</p>
    <br>
    <br>
    <%= button_tag 'Apply Now', type:'button', class:'btn btn-dark'%>
    <br>
    <br>
  </div>
  <div class="col-lg-3 m-md-3 m-sm-3 bg-secondary-subtle float-end mh-100 mw-100  ">
    <br>
    <%= image_tag 'Catra.png', class:"mw-100 w-100" , style:"height:20em" %>
    <br>
    <br>
    <p class="float-start">Annete</p>
    <%= button_tag 'Branding', class:"btn btn-outline-dark float-end" %>
  </div>
  <div class="col-lg-3 m-md-3 m-sm-3 bg-secondary-subtle  float-end mh-100 mw-100  ">
    <br>
    <%= image_tag 'Catra.png.png', class:"mw-100 w-100" , style:"height:20em" %>
    <br>
    <br>
    <p class="float-start">Annete</p>
    <%= button_tag 'Branding', class:"btn btn-outline-dark float-end" %>
  </div>
  <div class="col-lg-3 m-md-3 m-sm-3 bg-secondary-subtle  float-end mh-100 mw-100  ">
    <br>
    <%= image_tag 'Catra.png', class:"mw-100 w-100" , style:"height:20em" %>
    <br>
    <br>
    <p class="float-start">Annete</p>
    <%= button_tag 'Branding', class:"btn btn-outline-dark float-end" %>
  </div>
  <div class="col-lg-3 m-md-3 m-sm-3 bg-secondary-subtle  float-end mh-100 mw-100  ">
    <br>
    <%= image_tag 'Catra.png', class:"mw-100 w-md-100 w-100" , style:"height:20em" %>
    <br>
    <br>
    <p class="float-start sm">Annete</p>
    <%= button_tag 'Branding', class:"btn btn-outline-dark float-end" %>
  </div>
  <br>
</div>
