<!DOCTYPE html>
<html>
  <head>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

    <div class="container bg-light">

      <%= render partial: 'pages/navbar' %>
      <br>
      <br>
      <br>
      <br>
      <br>
      <% if notice %>
        <%= render 'pages/alerts' %>
      <% end %>

      <br>
      <%= yield %>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <%= render partial: 'pages/footer'%>
    </div>
    <script>
      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
            $('#img_prev')
              .attr('src', e.target.result)
              .width(150)
              .height(200);
          };

          reader.readAsDataURL(input.files[0]);
        }
      }
    </script>
  </body>
</html>
